/*---------------
    RESET
---------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/*---------------
    UTILITIES
---------------*/
.blue-bg-color{
    background-color: blue;
}

.red-bg-color{
    background-color: red;
}

.yellow-bg-color{
    background-color: yellow;
}

.d-none{
    display: none;
}

.d-flex{
    display: flex;
    flex-direction: column;
}

i{
    font-size: 1.5625rem;
}

/*---------------
    COMMON
---------------*/
header,
footer{
    height: 3.75rem;
    display: flex;
    align-items: center;
    padding: 0 1.5625rem;
}

.difficulty-insane{
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.difficulty-hard{
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.difficulty-normal{
    width: calc(100% / 7);
    height: calc(100% / 7);
}

/*---------------
    HEADER
---------------*/
header {
    justify-content: space-between;
    margin: auto;
    width: 68.75rem;
}

header .title{
    display: flex;
    align-items: center;
}

header .title h1{
    margin-left: .625rem;
}

header select,
header button{
    background-color: #e9e9ed;
    border-radius: .25rem;
}

header select{
    width: 10.625rem;
}

header button{
    padding: .125rem 1.875rem;
    border: 1px solid #8f8f9d;
}

/*---------------
    MAIN
---------------*/
main{
    flex-grow: 1;
    background-color: #7fffd4;
    display: flex;
    flex-direction: column;
}

main .cell-container {
    margin: auto;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

main .cell-container .cell-item {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: crosshair;
}

main #game-score{
    align-self: center;
    padding: .625rem 0;
}

/*---------------
    FOOTER
---------------*/
footer {
    margin: auto;
    width: 68.75rem;
}

/*---------------
    END-GAME
---------------*/
#end-game{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

#win-lose-message,
#total-scored{
    color: white;
    margin: 1.25rem 0;
}

#total-scored{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#win-lose-message{
    text-decoration: underline;
    font-size: 6.25rem;
}

#end-game-button{
    font-size: 30pt;
    font-family: 'Press Start 2p';
    text-align: center;
	display: inline-block;
    margin: 1.25rem 0;
    font-weight: bold;
    padding: .625rem;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
}

#end-game-button:active {
	box-shadow: none;
    position: relative;
    top: 5px;
}

/*---------------
    ANIMATION
---------------*/
#info-button{
    height: 100px;
    width: 200px;
    background: black;
    border: none;
    border-top: 4px solid red;
    border-radius: 0 0 0.2em 0.2em;
    color: #fff;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 1em;
    transform-origin: 50% 5em;
    animation: wiggle 1.5s linear infinite;
    cursor: default;
    margin: auto;
}

@keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%, 100% {
        transform: rotateZ(0);
    }
}

/*---------------
    MEDIAQUERY
---------------*/
@media screen and (min-width: 380px){
    header {
        max-width: 100%;
        min-height: 60px;
    }
    header .title img{
        width: 25px;
    }
    header .title h1{
        font-size: 15px;
    }
    header .game-options {
        display: flex;
    }
    header .game-options select {
        width: 100px;
        margin-right: 15px;
    }
    main{
        padding-top: 20px;
    }
    main .cell-container {
        width: 90%;
        height: 90%;
    }
    footer{
        max-width: 100%;
    }
}

@media screen and (min-width: 576px){
    main .cell-container {
        width: 85%;
        height: 85%;
    }
}

@media screen and (min-width: 768px){
    main .cell-container {
        width: 75%;
        height: 75%;
    }
}

@media screen and (min-width: 1300px){
    header .title img{
        width: 3.125rem;
    }
    header .game-options select {
        width: 170px;
        margin-right: 15px;
    }
    main .cell-container {
        width: 500px;
        height: 500px;
    }
}