/*---------------
    RESET
---------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/*---------------
    UTILITIES
---------------*/
.blue-bg-color{
    background-color: blue;
}

.red-bg-color{
    background-color: red;
}

/*---------------
    COMMON
---------------*/
header,
footer{
    height: 3.75rem;
    display: flex;
    align-items: center;
    padding: 0 1.5625rem;
}

/*---------------
    HEADER
---------------*/
header {
    justify-content: space-between;
    margin: auto;
    width: 68.75rem;
}

header .title{
    display: flex;
    align-items: center;
}

header .title h1{
    margin-left: .625rem;
}

header img{
    width: 3.125rem;
}

header select,
header button{
    background-color: #e9e9ed;
    border-radius: .25rem;
}

header select{
    width: 10.625rem;
}

header button{
    padding: .125rem 1.875rem;
    border: 1px solid #8f8f9d;
}

/*---------------
    MAIN
---------------*/
main{
    flex-grow: 1;
    background-color: #7fffd4;
    display: flex;
    flex-direction: column;
}

main .cell-container {
    width: 31.25rem;
    height: 31.25rem;
    margin: auto;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

main .cell-container .cell-item {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: crosshair;
}

main #game-score{
    align-self: center;
    padding: .625rem 0;
}

.difficulty-insane{
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.difficulty-hard{
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.difficulty-normal{
    width: calc(100% / 7);
    height: calc(100% / 7);
}

/*---------------
    FOOTER
---------------*/
footer {
    margin: auto;
    width: 68.75rem;
}

/*---------------
    END-GAME
---------------*/
#end-game{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

#win-lose-message{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-47%, -50%);
    font-size: 6.25rem;
    text-decoration: underline;
    color: white;
}

#end-game-button{
    font-size: 30pt;
    font-family: 'Press Start 2p';
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
}

#end-game-button:active {
	box-shadow: none;
	position: relative;
	top: 56%;
}

/*---------------
    ANIMATION
---------------*/
.d-none{
    display: none;
}

#info-button{
    height: 100px;
    width: 200px;
    background: black;
    border: none;
    border-top: 4px solid red;
    border-radius: 0 0 0.2em 0.2em;
    color: #fff;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 1em;
    transform-origin: 50% 5em;
    animation: wiggle 1.5s linear infinite;
    cursor: default;
    margin: auto;
}

@keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%, 100% {
        transform: rotateZ(0);
    }
}
  
